header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background: var(--white);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    z-index: 100;
}
.header-top{
  display: flex;
  align-items: center;
  gap: 1rem
}
.nav-toggle{
  display: none;
  background: none;
  border: none;
  font-size: 1.4rem;
  color: var(--text);
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 5px;
  transition: .3s;
}
nav{
  display: block;
}
nav ul {
    display: flex;
    gap: 10px;
    list-style: none; 
  }
nav a {
    text-decoration: none;
    color: var(--text);
    padding: 10px 16px;
    border-radius: 40px;
    transition: .3s;
}
header h1 { font-size: 1.4rem; }
nav a:hover {
  background:var(--light-bg) ;
  color: var(--orange);
    }
  .cart-box {
  position: absolute;
  right: 2%;
  top: 10vh;
  width: 280px;
  max-width: 90%;
  background: #ffffff;
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.CartPannel{
cursor:pointer;
display:flex;
align-items:center;
gap:1rem;
}
.cart-item {
  padding: 0.75rem 0;
  border-bottom: 1px solid #eee;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-box h3 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

    .cards{
      display: flex;
      justify-content: space-between;
      gap: .2rem;
      flex-wrap: wrap;

    }
    .card_content{
      display: flex;
     flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 16rem;
    padding: 1.2rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
    }
    .card_content:hover {
    transform: translateY(-0.3rem);

    box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.15);
}

.card_content img {
    width: 100%;

    height: 14rem;

    object-fit: cover;

    border-radius: 0.8rem;
}

.card_content h3 {
    font-size: 1.3rem;

    color: #222;
}

.card_content p {
    color: #666;
}

.price {
    font-size: 1.5rem;

    font-weight: bold;

    color: #e67e22;
}

.btn_cart {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 0.7rem;
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn_cart:hover {
    opacity: 0.85;
}